

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">


    @if (User.Identity.IsAuthenticated)
    {
               <h1 class="display-4">@Localizer["Welcome"]</h1>
    }
    else
    {
        <h1>@Localizer["Login"]</h1>
    }
</div>
