@model EventViewModel

@{ 
    Layout = null;
}

    <form asp-controller="Event" asp-action="CreateEv" asp-route-idEv="@Model.IdEvent" onsubmit="return CreateEventSubmit(this)" method="post" enctype="multipart/form-data" >
        <div class="form-group" id="Name">
            <label>@Localizer["Name"]</label>
            <input asp-for="Name" class="form-control mb-3" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label>@Localizer["Image"]  </label>
            <input asp-for="Image" class="mt-2" />
            <span asp-validation-for="Image" class="text-danger"></span>

        </div>
        <input type="submit" class="btn btn-primary" value="@Localizer["Send"]" />
    </form>



