@model EventViewModel



<div class="modal fade" id="createEvent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="createEventLabel"> @Localizer["CreateEv"]</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>

            </div>

            <div class="modal-body">
                <form asp-controller="Event" asp-action="CreateEv" method="post" enctype="multipart/form-data">
                    <div class="form-group" id="Name">
                        <label>@Localizer["Name"]</label>
                        <input asp-for="Name" class="form-control mb-3" />
                        <span asp-validation-for="Name" class="text-danger"></span>
   
                        <label>@Localizer["Image"]  </label>
                        <input asp-for="Image" class="mt-2" />
                    </div>
                    <input type="submit" class="btn btn-primary" value="@Localizer["Send"]"/>
                </form>
            </div>
        </div>

    </div>
</div>

