@model IEnumerable<Event_>


@if (Enumerable.Count(Model) == 0)
{
    <h3>You don't have any event</h3>
    <a asp-controller="Event" asp-action="CreateEv">Create one</a>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Event" asp-action="Event" asp-route-id="@e.Id"> @e.Name </a>
                    </td>
                    <td>
                        <a asp-controller="Event" asp-action="DeleteEv" asp-route-id="@e.Id"> Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}