@model LoginViewModel


<div class="form-check" >

    <form asp-controller="Auth" asp-action="Login" method="post" >
        <table  align="center" >

            <tr id="Email">

                <td>
                    <label class="lead">Email</label>
                </td>
                <td>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>

            <tr id="Password">
                <td>
                    <label class="lead">Password</label>
                </td>
                <td>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </td>
            </tr>
            <tr id="Submit">
                <td>
                    <input class="btn btn-success" type="submit" value="Log in" />
                </td>
                <td>
                </td>
            </tr>
        </table>
    </form>
</div>