@model RegisterViewModel


<div class="form-check">
    <form asp-controller="Auth" asp-action="Register" method="post">
        <table align="center">


            <tr id="Name">
                <td>
                    <label class="lead">Name</label>
                </td>
                <td>
                    <input asp-for="Name" /> <br />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </td>

            </tr>
            <tr id="Surname">
                <td>
                    <label class="lead">Surname</label>
                </td>
                <td>

                    <input asp-for="Surname" /> <br />
                    <span class="text-danger" asp-validation-for="Surname"></span>
                </td>
            </tr>
            <tr id="Age">
                <td>
                    <label class="lead">Age</label>
                </td>
                <td>
                    <input asp-for="Age" /> <br />
                    <span class="text-danger" asp-validation-for="Age"></span>
                </td>

            </tr>
            <tr id="Email">
                <td>
                    <label class="lead">Email</label>
                </td>
                <td>

                    <input asp-for="Email" /> <br />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr id="Password">
                <td>
                    <label class="lead">Password</label>
                </td>
                <td>
                    <input asp-for="Password" /> <br />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </td>

            </tr>
            <tr id="Register">
                <td>
                    <input class="btn btn-success" type="submit" value="Register" />
                </td>
                <td>
                </td>

            </tr>
        </table>
    </form>

</div>